@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CICO</h1>
    <p class="lead">CICO referrs to callories in callories out concept in which wether you want to gain or lose weight.</p>
    <p><a href="https://www.healthline.com/nutrition/calories-in-calories-out" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-5">
        <h2>Getting started</h2>
        <p>
            Experts define physical fitness as “one's ability to execute daily activities with 
            optimal performance, endurance, and strength with the management of disease, fatigue, 
            and stress and reduced sedentary behavior.”
        </p>
        
    </div>
    <div class="col-md-5">
        <h2>Access our youtube page for more informaiton about fitness and nutrion</h2>
        <p>Access the below link if you want to learn more about fitness.</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/c/RenaissancePeriodization/videos">See more videos &raquo;</a></p>
    </div>
    
</div>